@mixin button {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fa8bff;
    background-image: linear-gradient(
      45deg,
      #a80707 52%,
      rgb(8, 1, 1) 48%
    );
    &:hover {
      transform: scale(1.2);
      transition: 500ms;
    }
  }