$primary-color: #3498db;
$secondary-color: #ffcc70;
$text-color: #c850c0;
$background-color: #f4f4f4;

$linear-gradient: 
    linear-gradient(
    225deg,
    #11030b 10%,
    #690606 50%,
    #6904a3 100%)
;